{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-5 text-center" style="max-width: 600px; width: 100%;">
    <div class="card-body">
      <h1 class="card-title mb-4">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
      <p class="card-text mb-4">This is your Dashboard</p>
      <form method='POST' action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
