{% extends "base.html" %}

{% block title %}Forgot password {% endblock %}

{% block content %}
  
  <div class="container_2">
    <div class="col-sm-6">
        <h2 class="text-muted">Forgot Password</h2>
        <form method="POST" action={% url 'password_reset' %}>
            {% csrf_token %}
            <div class="form-group">
                <label for={{ form.email.id_for_label }}>Email:</label>
                <input type="email" name={{form.email.name}} class="form-control" maxlength="150" placeholder="Enter your Registered Email" required>
                <span class="text-danger">{{form.email.errors}}</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Send Reset Password Link</button>
            </div>
            <div class="form-group">
                <a href="{% url 'login'%}" >Back to Login</a>
            </div>
        </form>
    </div>
    </div>

  <style>
      .container_2{
          display:flex;
          justify-content:center;
          height:100vh;
       }
  </style>
{% endblock %}
